<template>
<div class="page">
    <div style="padding: 64px;">
        <div class="container">
            <!-- <div class="box">
                {{this.$route.params.name}}
            </div> -->
            <!-- {{this.$route.params.id}} -->
            <div class="flex-head">
                <p class="head">Admin Management Users</p>
                <div class="flex-head-sort">
                    <p class="head" style="margin-right:8px">Accounts</p>
                    <p class="head" style="margin-right:8px">|</p>
                    <a-dropdown :trigger="['click']" class="head">
                        <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                            COINBASE
                            <a-icon type="down" />
                        </a>
                        <a-menu slot="overlay">
                            <a-menu-item key="0">
                                <a href="http://www.alipay.com/">1st menu item</a>
                            </a-menu-item>
                            <a-menu-item key="1">
                                <a href="http://www.taobao.com/">2nd menu item</a>
                            </a-menu-item>
                            <a-menu-divider />
                            <a-menu-item key="3">
                                3rd menu item
                            </a-menu-item>
                        </a-menu>
                    </a-dropdown>
                </div>
            </div>
            <div style="margin-top:24px">
                <p class="topic">Users</p>
            </div>
            <div style="display: flex;justify-content: center;align-items: center;height:430px">
                <a-row>
                    <a-col :xl="9" :xxl="9">
                        <img :src="require(`@/assets/img/${users[id-1].img}`)" style="display:block;margin:auto">
                    </a-col>
                    <a-col :xl="15" :xxl="15" style="padding-left:24px">
                        <a-row style="padding-top:40px;">
                            <a-col :xl="18" :xxl="18">
                                <p class="name">{{users[id-1].name}}</p>
                            </a-col>
                            <a-col :xl="6" xxl="6">
                                <div style="padding:12px">
                                    <div :class="users[id-1].class_card">
                                        <p :class="users[id-1].class_text">{{users[id-1].status}}</p>
                                        <span :class="users[id-1].class_dot"></span>
                                    </div>
                                </div>
                            </a-col>
                        </a-row>
                        <p class="text">{{users[id-1].email}}</p>
                        <div class="block">
                            <p class="block-text">Block User</p>
                        </div>
                    </a-col>
                </a-row>
            </div>
            <!---------------------------------card-------------------------------------------->
            <div style="padding:0 50px">
                <a-row :gutter="[28,28]" style="margin-top:32px">
                    <a-col :xl="8" :xxl="8" v-for="(i,index) in circles" :key="index">
                        <div class="card">
                            <div>
                                <img src="~/assets/img/option.png" alt="" class="option">
                            </div>
                            <a-row style="padding:14px 0">
                                <a-col :xl="10" :xxl="8">
                                    <div class="circle-chart">
                                        <a-progress type="circle" :stroke-color="{'0%': '#FD749B','100%': '#7F00FE'}" :percent="i.percent" :stroke-width="10" :width="90" :format="percent => i.percent_format" />
                                        <img src="~/assets/img/circle-wave.png" alt="" style="top: -8px;position: absolute;left: 18px;width: 96px;">
                                    </div>
                                </a-col>
                                <a-col :xl="14" :xxl="16" style="padding-top:16px">
                                    <p class="topic-sub-card">{{i.topic}}</p>
                                    <div style="margin-top:16px">
                                        <a-row>
                                            <a-col :xl="7" :xxl="5">
                                                <p class="num-sub-card">{{i.num}}</p>
                                            </a-col>
                                            <a-col :xl="17" :xxl="19">
                                                <img src="~/assets/img/green-graph.png" alt="" class="bank_card">
                                            </a-col>
                                        </a-row>

                                    </div>
                                </a-col>
                            </a-row>
                        </div>
                    </a-col>
                </a-row>
            </div>
            <!--------------------------------table----------------------------------------------->
            <div class="box">
                <a-row style="padding:24px">
                    <a-col :xl="c.xl" :xxl="c.xxl" v-for="(c,index) in topic_table" :key="index">
                        <p class="topic_table">{{c.topic}}</p>
                    </a-col>
                </a-row>
                <div class="table-card" v-for="(i,index) in data_table" :key="index">
                    <a-row>
                        <a-col :xl="4" :xxl="4">
                            <p class="table_text">{{i.transaction_id}}</p>
                        </a-col>
                        <a-col :xl="4" :xxl="4">
                            <p class="table_text">{{i.date}}</p>
                        </a-col>
                        <a-col :xl="4" :xxl="4">
                            <p class="table_text"><strong>{{i.products_price}}</strong>{{i.products_name}}</p>
                        </a-col>
                        <a-col :xl="4" :xxl="4">
                            <p class="table_text">{{i.amounts}}</p>
                        </a-col>
                        <a-col :xl="4" :xxl="4">
                            <div :class="i.status_class">
                                <p :class="i.status_text">{{i.status}}</p>
                            </div>
                        </a-col>
                        <a-col :xl="4" :xxl="4">
                            <a-dropdown :trigger="['click']">
                                <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                                    <img src="~/assets/img/option.png" alt="" class="option-2">
                                </a>
                                <a-menu slot="overlay" style="bottom:16px;left:90px">
                                    <a-menu-item key="0">
                                        <a @click="show_payments()">Payment Details</a>
                                        <a-modal v-model="visible">
                                            <div class="modal_container">
                                                <p class="modal_topic">Payment Details</p>
                                                <img src="~/assets/img/bank_credit_card.png" alt="" class="bank_credit_card">
                                            </div>
                                            <div class="modal_table">
                                                <a-row>
                                                    <a-col :xl="6" :xxl="6" style="border-right:1px solid rgba(0, 0, 0, 0.25)">
                                                        <p class="modal_table_topic">Date</p>
                                                    </a-col>
                                                    <a-col :xl="6" :xxl="6" style="border-right:1px solid rgba(0, 0, 0, 0.25)">
                                                        <p class="modal_table_topic">Product</p>
                                                    </a-col>
                                                    <a-col :xl="6" :xxl="6" style="border-right:1px solid rgba(0, 0, 0, 0.25)">
                                                        <p class="modal_table_topic">Exchange Rate</p>
                                                    </a-col>
                                                    <a-col :xl="6" :xxl="6">
                                                        <p class="modal_table_topic">Return</p>
                                                    </a-col>
                                                </a-row>
                                                <a-row>
                                                    <a-col :xl="6" :xxl="6" style="border-right:1px solid rgba(0, 0, 0, 0.25);height:72px">
                                                        <p class="modal_table_text">21/12/2019</p>
                                                    </a-col>
                                                    <a-col :xl="6" :xxl="6" style="border-right:1px solid rgba(0, 0, 0, 0.25);height:72px">
                                                        <p class="modal_table_text">$50-Amazon Giftcard</p>
                                                    </a-col>
                                                    <a-col :xl="6" :xxl="6" style="border-right:1px solid rgba(0, 0, 0, 0.25);height:72px">
                                                        <p class="modal_table_text">#180-per dollar</p>
                                                    </a-col>
                                                    <a-col :xl="6" :xxl="6" style="height:72px">
                                                        <p class="modal_table_text">#36,000.00</p>
                                                    </a-col>
                                                </a-row>
                                            </div>
                                        </a-modal>
                                    </a-menu-item>
                                    <a-menu-divider />
                                    <a-menu-item key="1">
                                        <a @click="show_block()">Block User</a>
                                        <a-modal v-model="visible2">
                                            <div class="block_user_container">
                                                <img src="~/assets/img/block_user.png" alt="" class="block_user_img">
                                                <p class="modal_topic">Block User?</p>
                                                <p class="modal_text">Clicking the proceed button will deny user access into the entire system proceed?</p>
                                                <button>Proceed</button>
                                            </div>
                                        </a-modal>
                                    </a-menu-item>
                                </a-menu>
                            </a-dropdown>
                        </a-col>
                    </a-row>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    layout: 'main',
    data() {
        return {
            id: this.$route.params.id,
            visible: false,
            visible2: false,
            users: [{
                id: 1,
                class_card: 'active',
                class_dot: 'active_dot',
                class_text: 'active_text',
                status: 'Active',
                img: 'profile1-2.png',
                name: 'Quadri Lawal',
                email: 'Quaderilawal@protonmail.com'
            }, {
                id: 2,
                class_card: 'down',
                class_dot: 'down_dot',
                class_text: 'down_text',
                status: 'Down',
                img: 'profile2-2.png',
                name: 'Tusweet iyanah',
                email: 'Tusweetiyanah@protonmail.com'
            }, {
                id: 3,
                class_card: 'active',
                class_dot: 'active_dot',
                class_text: 'active_text',
                status: 'Active',
                img: 'profile3-2.png',
                name: 'Ramon Ridwan',
                email: 'Ramonridwan@protonmail.com'
            }, {
                id: 4,
                class_card: 'pending_status',
                class_dot: '',
                class_text: 'pending_status_text',
                status: 'Pending',
                img: 'profile4-2.png',
                name: 'Lai Muhammed',
                email: 'Laimuhammed@protonmail.com'
            }, {
                id: 5,
                class_card: 'down',
                class_dot: 'down_dot',
                class_text: 'down_text',
                status: 'Down',
                img: 'profile6-2.png',
                name: 'Tunde Abdul',
                email: 'Tundeabdul@protonmail.com'
            }, {
                id: 6,
                class_card: 'active',
                class_dot: 'active_dot',
                class_text: 'active_text',
                status: 'Active',
                img: 'profile9-2.png',
                name: 'Quadri Lawal',
                email: 'Quaderilawal@protonmail.com'
            }, {
                id: 7,
                class_card: 'active',
                class_dot: 'active_dot',
                class_text: 'active_text',
                status: 'Active',
                img: 'profile11-2.png',
                name: 'Quadri Lawal',
                email: 'Quaderilawal@protonmail.com'
            }, {
                id: 8,
                class_card: 'pending_status',
                class_dot: '',
                class_text: 'pending_status_text',
                status: 'Pending',
                img: 'profile10-2.png',
                name: 'Quadri Lawal',
                email: 'Quaderilawal@protonmail.com'
            }, {
                id: 9,
                class_card: 'active',
                class_dot: 'active_dot',
                class_text: 'active_text',
                status: 'Active',
                img: 'profile5-2.png',
                name: 'Quadri Lawal',
                email: 'Quaderilawal@protonmail.com'
            }],
            circles: [{
                percent: 65,
                percent_format: '10000',
                topic: 'Total Number Of Transactions',
                num: '22.8%',
            }, {
                percent: 100,
                percent_format: '#434',
                topic: 'Total Amount Earned',
                num: '22.8%',
            }, {
                percent: 100,
                percent_format: '#0',
                topic: 'Total Amount In Wallet',
                num: '22.8%',
            }],
            topic_table: [{
                xl: 4,
                xxl: 4,
                topic: 'Transaction ID'
            }, {
                xl: 4,
                xxl: 4,
                topic: 'Date'
            }, {
                xl: 4,
                xxl: 4,
                topic: 'Product'
            }, {
                xl: 4,
                xxl: 4,
                topic: 'Amounts'
            }, {
                xl: 4,
                xxl: 4,
                topic: 'Status'
            }, {
                xl: 4,
                xxl: 4,
                topic: 'Action'
            }],
            data_table: [{
                transaction_id: '289272304',
                date: '22/12/2019',
                products_price: '$50 - ',
                products_name: 'Amazon Giftcard',
                amounts: '#39,000.00',
                status_class: 'success',
                status_text: 'success_text',
                status: 'Successful'
            }, {
                transaction_id: '289272304',
                date: '22/12/2019',
                products_price: '$130 - ',
                products_name: 'Skrill Giftcard',
                amounts: '#39,000.00',
                status_class: 'success',
                status_text: 'success_text',
                status: 'Successful'
            }, {
                transaction_id: '289272304',
                date: '22/12/2019',
                products_price: '2Btc - ',
                products_name: 'Bitcoin',
                amounts: '#39,000.00',
                status_class: 'decline',
                status_text: 'decline_text',
                status: 'Decline'
            }, {
                transaction_id: '289272304',
                date: '22/12/2019',
                products_price: '$250 - ',
                products_name: 'Steam Giftcard',
                amounts: '#39,000.00',
                status_class: 'success',
                status_text: 'success_text',
                status: 'Successful'
            }, {
                transaction_id: '289272304',
                date: '22/12/2019',
                products_price: '$134 - ',
                products_name: 'Google Plat Giftcard',
                amounts: '#39,000.00',
                status_class: 'success',
                status_text: 'success_text',
                status: 'Successful'
            }, {
                transaction_id: '289272304',
                date: '22/12/2019',
                products_price: '$400 - ',
                products_name: 'Other Giftcard',
                amounts: '#39,000.00',
                status_class: 'pending',
                status_text: 'pending_text',
                status: 'Pending'
            }, {
                transaction_id: '289272304',
                date: '22/12/2019',
                products_price: '19Eth - ',
                products_name: 'Ethereum',
                amounts: '#39,000.00',
                status_class: 'success',
                status_text: 'success_text',
                status: 'Successful'
            }, {
                transaction_id: '289272304',
                date: '22/12/2019',
                products_price: '26Btc - ',
                products_name: 'Bitcoin',
                amounts: '#39,000.00',
                status_class: 'decline',
                status_text: 'decline_text',
                status: 'Decline'
            }, ]
        }
    },
    methods: {
        show_payments() {
            this.visible = true;
        },
        show_block() {
            this.visible2 = true;
        },
    },
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    margin: 64px 0px 0px 280px;
}

.container {
    width: 100%;
    /* border: .1px solid rgb(230, 230, 230); */
}

.flex-head {
    display: flex;
    justify-content: space-between;
}

.head {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #858585;
}

.flex-head-sort {
    display: flex;
    justify-content: space-evenly;
}

.topic {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #858585;
}

.name {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 163.42%;
    /* identical to box height, or 52px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #858585;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.42%;
    /* identical to box height, or 23px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #858585;

}

.down {
    position: relative;
    width: 91px;
    height: 27px;
    border-radius: 215px;
    background: rgba(255, 73, 73, 0.1);
}

.down_text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    padding: 4px 32px;
    color: #FF4949;
}

.down_dot {
    position: absolute;
    top: 10px;
    left: 18px;
    height: 6px;
    width: 6px;
    background-color: #FF4949;
    border-radius: 50%;
    display: inline-block;
}

.active {
    position: relative;
    width: 91px;
    height: 27px;
    border-radius: 215px;
    background: rgba(93, 248, 136, 0.1);
}

.active_text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    padding: 4px 32px;
    color: #5DF888;
}

.active_dot {
    position: absolute;
    top: 10px;
    left: 18px;
    height: 6px;
    width: 6px;
    background-color: #5DF888;
    border-radius: 50%;
    display: inline-block;
}

.pending_status {
    position: relative;
    width: 91px;
    height: 27px;
    border-radius: 215px;
    background: rgba(0, 0, 0, 0.1);
}

.pending_status_text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    padding: 4px;
}

.block {
    margin-top: 12px;
    width: 91px;
    height: 27px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 215px;
}

.block-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    padding-top: 4px;
    text-align: center;
    color: #FFFFFF;
}

.card {
    position: relative;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    padding: 14px;
}

.option {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    transform: scale(1.5);
}

.topic-sub-card {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: #858585;
}

.num-sub-card {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    /* or 250% */

    color: #1CD1A1;

}

.box {
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    margin-top: 48px;
    padding: 48px;
}

.topic_table {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 163.42%;
    /* identical to box height, or 26px */
    text-align: center;
    color: #858585;
}

.table-card {
    margin-top: 24px;
    padding: 28px 24px;
    width: 100%;
    height: 98px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 100px;
}

.table_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.42%;
    /* identical to box height, or 20px */
    text-align: center;
    color: #858585;
    padding: 8px;
}

.success {
    display: block;
    margin: 8px auto;
    padding: 4px;
    width: 91px;
    height: 27px;
    background: rgba(93, 248, 136, 0.1);
    border-radius: 215px;
}

.success_text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: center;

    color: #5DF888;

}

.decline {
    display: block;
    margin: 8px auto;
    padding: 4px;
    width: 91px;
    height: 27px;
    background: rgba(255, 73, 73, 0.1);
    border-radius: 215px;
}

.decline_text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FF4949;
}

.pending {
    display: block;
    margin: 8px auto;
    padding: 4px;
    width: 91px;
    height: 27px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 215px;
}

.pending_text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

.option-2 {
    width: 16px;
    height: 3.73px;
    display: block;
    margin: 16px auto;
    cursor: pointer;
    transition: 0.3s;
}

.option-2:hover {
    transform: scale(1.5);
}

.modal_container {
    margin-top: 64px;
    padding: 0 44px 44px 44px;
}

.modal_topic {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */
    text-align: center;
    background: -webkit-linear-gradient(#FD749B, #7F00FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bank_credit_card {
    width: 328px;
    height: 203.21px;
    display: block;
    margin: 27px auto auto auto;
}

.modal_table {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
}

.modal_table_topic {
    height: 48px;
    background: #FFE1EA;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #BD1CAB;
    padding: 10px 0px;
}

.modal_table_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    color: #858585;
    padding: 10px 0px;
}

.block_user_container {
    width: 100%;
    padding: 0 100px;
}

.block_user_img {
    width: 154px;
    height: 115px;
    display: block;
    margin: 112px auto 32px auto;
}

.modal_text {
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163.42%;
    /* or 26px */

    text-align: center;

    color: #858585;

}

button {
    width: 134px;
    height: 42px;
    background: linear-gradient(182.57deg, #FD749B -8.12%, #8E00FE 148.37%);
    border-radius: 100px;
    color: white;
    text-align: center;
    display: block;
    margin: 32px auto;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: linear-gradient(179.34deg, #AA1E46 -13.06%, #DE3F76 -13.04%, #46008B 199.86%);
}
</style>
