<template>
<div class="page">
    <users />
</div>
</template>

<script>
import users from '@/components/users'
export default {
    layout: 'main',
    components: {
        users
    }
}
</script>

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    margin:64px 0px 0px 280px;
}
</style>
