<template>
<div>
    <no-ssr>
        <div>
            <navbar />
        </div>
        <div>
            <nuxt />
        </div>
    </no-ssr>
</div>
</template>

<script>
import navbar from '@/components/navbar'
export default {
    components: {
        navbar
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    background-color: #FFF9FE;
}

.ant-progress-circle .ant-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    background: -webkit-linear-gradient(#FC58B3, #FEAE68);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    white-space: normal;
    text-align: center;
    transform: translate(-50%, -50%);
}

path .ant-progress-circle-trail {
    stroke: #FAA9C6;
}

.ant-cascader-menus {
    margin-top: 4px;
    position: absolute;
    width: 22%;
    z-index: 1;
    font-size: 14px;
    white-space: nowrap;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.ant-cascader-menu:only-child {
    width: 100%;
    border-radius: 4px;
}

ul.ant-dropdown-menu.ant-dropdown-menu-vertical.ant-dropdown-menu-root.ant-dropdown-menu-light.ant-dropdown-content {
    width: 130px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

li.ant-dropdown-menu-item {
    height: 40px;
    padding-top: 8px;
    padding-left: 8px;
    transition: 0.3s;
}

.ant-dropdown-menu-item:hover>a,
.ant-dropdown-menu-submenu-title>a {
    color: white;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
    background: rgba(219, 0, 255, 0.7);
}

.ant-modal-content {
    overflow: hidden;
    width: 664px;
    height: 568px;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    /* border-radius: 4px; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    pointer-events: auto;
}

.ant-modal-footer {
    display: none;
}
</style>
