<template>
<div>
    <div class="flex-head">
        <p class="head">Admin Management Users</p>
        <div class="flex-head-sort">
            <p class="head" style="margin-right:8px">Accounts</p>
            <p class="head" style="margin-right:8px">|</p>
            <a-dropdown :trigger="['click']" class="head">
                <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                    COINBASE
                    <a-icon type="down" />
                </a>
                <a-menu slot="overlay">
                    <a-menu-item key="0">
                        <a href="http://www.alipay.com/">1st menu item</a>
                    </a-menu-item>
                    <a-menu-item key="1">
                        <a href="http://www.taobao.com/">2nd menu item</a>
                    </a-menu-item>
                    <a-menu-divider />
                    <a-menu-item key="3">
                        3rd menu item
                    </a-menu-item>
                </a-menu>
            </a-dropdown>
        </div>
    </div>
    <div class="flex-head" style="margin-top:24px">
        <p class="topic">Users</p>
        <div style="position:relative">
            <a-input placeholder="Search User" />
            <a-icon type="search" style="position:absolute;top:8px;left:16px;" />
        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-head {
    display: flex;
    justify-content: space-between;
}

.head {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #858585;
}

.flex-head-sort {
    display: flex;
    justify-content: space-evenly;
}

.topic {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #858585;
}

.icon {
    display: block;
    margin: auto 0;
    width: 18px;
    height: 19px;
    cursor: pointer;
    transition: 0.3s;
}

.icon:hover {
    transform: scale(1.5);
}

input {
    width: 354px;
    height: 32px;
    border-radius: 100px;
    padding-left: 50px;
    border: 1px solid transparent;
    background: linear-gradient(to right, white, white), linear-gradient(15deg, rgba(253, 116, 155, 1), rgba(142, 0, 254, 1));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;

}
</style>
