<template>
<div class="box">
    <a-row style="padding: 28px 24px;">
        <a-col :xl="2" :xxl="2">
            <input type="checkbox" @click="check_all()">
        </a-col>
        <a-col :xl="4" :xxl="4">
            <p class="topic">Account Status</p>
        </a-col>
        <a-col :xl="8" :xxl="8">
            <p class="topic">User Name</p>
        </a-col>
        <a-col :xl="8" :xxl="8">
            <p class="topic">Email</p>
        </a-col>
        <a-col :xl="2" :xxl="2">
            <p class="topic">Action</p>
        </a-col>
    </a-row>
    <a-row>
        <a-col>
            <div class="card-table" v-for="(i,index) in card" :key="index">
                <a-row>
                    <a-col :xl="2" :xxl="2">
                        <div style="margin-top:8px">
                            <input type="checkbox" :checked="check_box">
                        </div>
                    </a-col>
                    <a-col :xl="4" :xxl="4">
                        <div :class="i.class_card">
                            <p :class="i.class_text">{{i.status}}</p>
                            <span :class="i.class_dot"></span>
                        </div>
                    </a-col>
                    <a-col :xl="8" :xxl="8">
                        <a-row>
                            <a-col :xl="9" :xxl="9">
                                <div style="padding:4px">
                                    <img :src="require(`@/assets/img/${i.img}`)" class="profile">
                                </div>
                            </a-col>
                            <a-col :xl="15" :xxl="15">
                                <p class="text">{{i.name}}</p>
                            </a-col>
                        </a-row>
                    </a-col>
                    <a-col :xl="8" :xxl="8">
                        <p class="email">{{i.email}}</p>
                    </a-col>
                    <a-col :xl="2" :xxl="2">
                        <div style="padding:18px">
                            <a-dropdown :trigger="['click']">
                                <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                                    <img src="~/assets/img/option.png" alt="" class="option-2">
                                </a>
                                <a-menu slot="overlay" style="top:8px;left:8px">
                                    <a-menu-item key="0">
                                        <a :href="`/users/${i.id}`">View</a>
                                    </a-menu-item>
                                    <a-menu-divider />
                                    <a-menu-item key="1">
                                        <a href="#">Edit</a>
                                    </a-menu-item>
                                    <a-menu-divider />
                                    <a-menu-item key="2">
                                        <a href="#">Delete</a>
                                    </a-menu-item>
                                    <a-menu-divider />
                                    <a-menu-item key="3">
                                        <a href="#">Block User</a>
                                    </a-menu-item>
                                </a-menu>
                            </a-dropdown>
                        </div>
                    </a-col>
                </a-row>
            </div>
        </a-col>
        <p class="topic" style="text-align:left;padding:32px 0 0 72px">5000 Users</p>
    </a-row>

    <button>View More</button>
</div>
</template>

<script>
export default {
    data() {
        return {
            check_box: false,
            card: [{
                id: 1,
                class_card: 'status-active',
                class_dot: 'status-active-dot',
                class_text: 'status-active-text',
                status: 'Active',
                img: 'profile1.png',
                name: 'Quadri Lawal',
                email: 'Quaderilawal@protonmail.com'
            }, {
                id: 2,
                class_card: 'status-down',
                class_dot: 'status-down-dot',
                class_text: 'status-down-text',
                status: 'Down',
                img: 'profile2.png',
                name: 'Tusweet iyanah',
                email: 'Tusweetiyanah@protonmail.com'
            }, {
                id: 3,
                class_card: 'status-active',
                class_dot: 'status-active-dot',
                class_text: 'status-active-text',
                status: 'Active',
                img: 'profile3.png',
                name: 'Ramon Ridwan',
                email: 'Ramonridwan@protonmail.com'
            }, {
                id: 4,
                class_card: 'status-pending',
                class_dot: '',
                class_text: 'status-pending-text',
                status: 'Pending',
                img: 'profile4.png',
                name: 'Lai Muhammed',
                email: 'Laimuhammed@protonmail.com'
            }, {
                id: 5,
                class_card: 'status-down',
                class_dot: 'status-down-dot',
                class_text: 'status-down-text',
                status: 'Down',
                img: 'profile6.png',
                name: 'Tunde Abdul',
                email: 'Tundeabdul@protonmail.com'
            }, {
                id: 6,
                class_card: 'status-active',
                class_dot: 'status-active-dot',
                class_text: 'status-active-text',
                status: 'Active',
                img: 'profile9.png',
                name: 'Quadri Lawal',
                email: 'Quaderilawal@protonmail.com'
            }, {
                id: 7,
                class_card: 'status-active',
                class_dot: 'status-active-dot',
                class_text: 'status-active-text',
                status: 'Active',
                img: 'profile11.png',
                name: 'Quadri Lawal',
                email: 'Quaderilawal@protonmail.com'
            }, {
                id: 8,
                class_card: 'status-pending',
                class_dot: '',
                class_text: 'status-pending-text',
                status: 'Pending',
                img: 'profile10.png',
                name: 'Quadri Lawal',
                email: 'Quaderilawal@protonmail.com'
            }, {
                id: 9,
                class_card: 'status-active',
                class_dot: 'status-active-dot',
                class_text: 'status-active-text',
                status: 'Active',
                img: 'profile5.png',
                name: 'Quadri Lawal',
                email: 'Quaderilawal@protonmail.com'
            }]
        }
    },
    methods:{
        check_all(){
            this.check_box = !this.check_box
        }
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin-top: 40px;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    padding: 40px 40px 0 40px;
}

.topic {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 163.42%;
    /* identical to box height, or 26px */
    text-align: center;
    color: #858585;
}

input {
    display: block;
    margin: 2px auto;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.card-table {
    margin-top: 8px;
    width: 100%;
    height: 98px;
    padding: 28px 24px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.card-table:hover {
    border: 1px solid transparent;
    background: linear-gradient(to right, white, white), linear-gradient(15deg, rgba(253, 116, 155, 1), rgba(142, 0, 254, 1));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.status-active {
    position: relative;
    width: 130px;
    height: 36px;
    background: rgba(93, 248, 136, 0.1);
    border-radius: 215px;
    margin: auto;
}

.status-active-dot {
    position: absolute;
    top: 12px;
    left: 18px;
    height: 10px;
    width: 10px;
    background-color: #5DF888;
    border-radius: 50%;
    display: inline-block;
}

.status-active-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    padding: 6px 45px;
    color: #5DF888;
}

.status-down {
    position: relative;
    width: 130px;
    height: 36px;
    background: rgb(255, 236, 236);
    border-radius: 215px;
    margin: auto;

}

.status-down-dot {
    position: absolute;
    top: 12px;
    left: 18px;
    height: 10px;
    width: 10px;
    background-color: #FF4949;
    border-radius: 50%;
    display: inline-block;
}

.status-down-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    padding: 6px 45px;
    color: #FF4949;
}

.status-pending {
    position: relative;
    width: 130px;
    height: 36px;
    background: #eeeeee;
    border-radius: 215px;
    margin: auto;

}

.status-pending-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    text-align: center;
    padding: 6px;
    color: #999999;
}

.profile {
    display: block;
    margin: auto 0 auto auto;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* identical to box height, or 20px */

    color: #858585;
    padding: 8px;
}

.email {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* identical to box height, or 20px */
    text-align: center;
    color: #858585;
    padding: 8px;

}

.option-2 {
    width: 16px;
    height: 3.73px;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
}

.option-2:hover {
    transform: scale(1.5);
}

button {
    display: block;
    margin: 30px auto;
    width: 134px;
    height: 42px;
    background: linear-gradient(178.13deg, #FD749B -9.07%, #7F00FE 197.71%);
    border-radius: 100px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

}

button:hover {
    background: linear-gradient(179.34deg, #AA1E46 -13.06%, #DE3F76 -13.04%, #46008B 199.86%);
}
</style>
