<template>
<div>
    <topbar/>
    <sidebar/>
</div>
</template>

<script>
import topbar from '@/components/topbar'
import sidebar from '@/components/sidebar'
export default {
    components:{
        topbar,
        sidebar
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

</style>