<template>
<div style="padding: 64px;">
    <div class="container">
        <content1x/>
        <content2/>
        <content3/>
        <content4/>
        <content5/>
        <content6/>
        <content7/>
        <content8/>
        <content9/>
        <content10/>
    </div>
</div>
</template>

<script>
import content1x from '@/components/overview/content1x'
import content2 from '@/components/overview/content2'
import content3 from '@/components/overview/content3'
import content4 from '@/components/overview/content4'
import content5 from '@/components/overview/content5'
import content6 from '@/components/overview/content6'
import content7 from '@/components/overview/content7'
import content8 from '@/components/overview/content8'
import content9 from '@/components/overview/content9'
import content10 from '@/components/overview/content10'
export default {
    components:{
        content1x,
        content2,
        content3,
        content4,
        content5,
        content6,
        content7,
        content8,
        content9,
        content10
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    /* border: .1px solid rgb(230, 230, 230); */
}



</style>
