<template>
<div class="sidebar">
    <div>
        <a-menu class="sidebar-menu" mode="vertical" @click="handleClick">
            <a-menu-item key="1">
                <nuxt-link to="/">
                    <div class="icon-grid">
                        <a class="overview"></a>
                        <p>Overview</p>
                    </div>
                </nuxt-link>
            </a-menu-item>
            <a-menu-item key="2">
                <nuxt-link to="/users">
                    <div class="icon-grid">
                        <a class="users"></a>
                        <p>Users</p>
                    </div>
                </nuxt-link>

            </a-menu-item>
            <a-menu-item key="3">
                <nuxt-link to="#">
                    <div class="icon-grid">
                        <a class="agents"></a>
                        <p>Agents</p>
                    </div>
                </nuxt-link>
            </a-menu-item>
            <a-menu-item key="4">
                <nuxt-link to="#">
                    <div class="icon-grid">
                        <a class="cards"></a>
                        <p>Cards</p>
                    </div>
                </nuxt-link>

            </a-menu-item>
            <a-menu-item key="5">
                <nuxt-link to="#">
                    <div class="icon-grid">
                        <a class="bitcoin"></a>
                        <p>Bitcoin & Ethereum</p>
                    </div>
                </nuxt-link>

            </a-menu-item>
            <a-menu-item key="6">
                <nuxt-link to="#">
                    <div class="icon-grid">
                        <a class="payments"></a>
                        <p>Payments</p>
                    </div>
                </nuxt-link>

            </a-menu-item>
            <a-menu-item key="7">
                <nuxt-link to="#">
                    <div class="icon-grid">
                        <a class="transactions"></a>
                        <p>Transactions</p>
                    </div>
                </nuxt-link>

            </a-menu-item>
            <a-menu-item key="8">
                <nuxt-link to="#">
                    <div class="icon-grid">
                        <a class="statistics"></a>
                        <p>Statistics</p>
                    </div>
                </nuxt-link>

            </a-menu-item>
            <a-menu-item key="9">
                <nuxt-link to="#">
                    <div class="icon-grid">
                        <a class="logout"></a>
                        <p>Logout</p>
                    </div>
                </nuxt-link>

            </a-menu-item>
        </a-menu>
    </div>
</div>
</template>

<script>
export default {
    methods: {
        handleClick(e) {
            console.log('click ', e);
        },
    },
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    color: white;
}

.sidebar {
    width: 280px;
    height: auto;
    position: fixed;
    top: 64px;
    left: 0;
}

.sidebar-menu {
    width: 280px;
    height: 100vh;
    padding-top: 60px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: linear-gradient(179.22deg, #FD749B -11.15%, #8E00FE 170.49%);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    
}

.ant-menu-item-selected a{
    color: white;
}

.ant-menu-item-selected .overview{
    background: url('~@/assets/img/overview-hover.png');
}

.ant-menu-item-selected .users{
    background: url('~@/assets/img/users-hover.png');
}

.ant-menu-item-selected .agents{
    background: url('~@/assets/img/agents-hover.png');
}

.ant-menu-item-selected .cards{
    background: url('~@/assets/img/cards-hover.png');
}

.ant-menu-item-selected .bitcoin{
    background: url('~@/assets/img/bitcoin-hover.png');
}

.ant-menu-item-selected .payments{
    background: url('~@/assets/img/payments-hover.png');
}

.ant-menu-item-selected .transactions{
    background: url('~@/assets/img/transaction-hover.png');
}

.ant-menu-item-selected .statistics{
    background: url('~@/assets/img/statistics-hover.png');
}

.ant-menu-item-selected .logout{
    background: url('~@/assets/img/logout-hover.png');
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
    width: 272px;
    height: 53.17px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0 40px;
    overflow: hidden;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #858585;
    text-overflow: ellipsis;
    /* transition: 0.3s; */
    display: block;
}

.ant-menu-item-active,
.ant-menu-item:hover,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
    background: linear-gradient(179.22deg, #FD749B -11.15%, #8E00FE 170.49%);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
}

.icon-grid {
    display: grid;
    grid-template-columns: 24% auto;
    padding-top: 16px;
    cursor: pointer;
}

.icon-grid p {
    padding: 2px 0px;
}

.overview {
    background: url('~@/assets/img/overview.png');
    width: 26px;
    height: 17px;
    display: block;
    margin: auto 0;
}

.users {
    background: url('~@/assets/img/users.png');
    width: 26px;
    height: 26px;
    display: block;
    margin: auto 0;
}

.agents {
    background: url('~@/assets/img/agents.png');
    width: 26px;
    height: 26px;
    display: block;
    margin: auto 0;
}

.cards {
    background: url('~@/assets/img/cards.png');
    width: 26px;
    height: 19px;
    display: block;
    margin: auto 0;
}

.bitcoin {
    background: url('~@/assets/img/bitcoin.png');
    width: 24px;
    height: 25px;
    display: block;
    margin: auto 0;
}

.payments {
    background: url('~@/assets/img/payments.png');
    width: 26px;
    height: 19px;
    display: block;
    margin: auto 0;
}

.transactions {
    background: url('~@/assets/img/transaction.png');
    width: 24px;
    height: 26px;
    display: block;
    margin: auto 0;
}

.statistics {
    background: url('~@/assets/img/statistics.png');
    width: 18px;
    height: 28px;
    display: block;
    margin: auto 0;
}

.logout {
    background: url('~@/assets/img/logout.png');
    width: 26px;
    height: 26px;
    display: block;
    margin: auto 0;
}

.ant-menu-item:hover .overview {
    background: url('~@/assets/img/overview-hover.png');
}

.ant-menu-item:hover .users {
    background: url('~@/assets/img/users-hover.png');
}

.ant-menu-item:hover .agents {
    background: url('~@/assets/img/agents-hover.png');
}

.ant-menu-item:hover .cards {
    background: url('~@/assets/img/cards-hover.png');
}

.ant-menu-item:hover .bitcoin {
    background: url('~@/assets/img/bitcoin-hover.png');
}

.ant-menu-item:hover .payments {
    background: url('~@/assets/img/payments-hover.png');
}

.ant-menu-item:hover .transactions {
    background: url('~@/assets/img/transaction-hover.png');
}

.ant-menu-item:hover .statistics {
    background: url('~@/assets/img/statistics-hover.png');
}

.ant-menu-item:hover .logout {
    background: url('~@/assets/img/logout-hover.png');
}
</style>
