<template>
<div class="topbar">
    <div class="flex-topbar">
        <div>
            <a href="/">
                <img src="~/assets/img/logo.png" alt="" style="padding-top:8px;">
            </a>
        </div>
        <div style="position:relative">
            <a-input placeholder="Search e.g card" style="margin-right:40px;" />
            <a-icon type="search" style="position:absolute;top:12px;left:24px;" />
            <img src="~/assets/img/coinbase.png" alt="" style="margin-right:40px;">
            <img src="~/assets/img/notification.png" alt="">
        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar {
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 64px;
    border: 2px solid #F0F0F0;
    background-color: #FFFFFF;
}

.flex-topbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 10px 48px;
}

input {
    width: 422px;
    height: 40px;
    border-radius: 100px;
    padding-left: 54px;
    border: 1px solid transparent;
    background: linear-gradient(to right, white, white), linear-gradient(15deg, rgba(253, 116, 155, 1), rgba(142, 0, 254, 1));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;

}

img{
    cursor: pointer;
}
</style>
