<template>
<div style="padding: 64px;">
    <div class="container">
        <content1/>
        <content2/>
    </div>
</div>
</template>

<script>
import content1 from '@/components/users/content1'
import content2 from '@/components/users/content2'
export default {
    components:{
        content1,
        content2
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    /* border: .1px solid rgb(230, 230, 230); */
}



</style>
