<template>
<div class="card">
    <img src="~/assets/img/mountain.png" alt="" class="mountain">
    <a-row>
        <a-col :xl="14" :xxl="16">
            <div class="box">
                <p class="topic">Transactions</p>
                <p class="text">Hi welcome, this page is the general overview section of the admin panel which you could edit and modify the view of the page to ya’ preferred taste.</p>
                <button><a>Learn more</a></button>
            </div>
        </a-col>
        <a-col :xl="10" :xxl="8">
            <img src="~/assets/img/transaction-img.png" alt="" class="img">
        </a-col>
    </a-row>

    
</div>
</template>

<script>
export default {

}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    position: relative;
    margin-top: 32px;
    width: 100%;
    height: 332px;
    padding: 60px 83px;
    border-radius: 10px;
    background: linear-gradient(179.22deg, #FD749B -11.15%, #8E00FE 170.49%);
}

.mountain {
    width: 99%;
    position: absolute;
    bottom: 0;
    left: 8px;
}

.flex-card {
    display: flex;
    height: 100%;
}

.box {
    width: 100%;
}

.topic {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;

}

.text {
    margin-top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
}

.img {
    display: block;
    margin: auto;
    width: 320px;
    height: 192px;
    z-index: 2;
}

button {
    margin-top: 30px;
    width: 134px;
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    /* 4 */
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

a {
    background: -webkit-linear-gradient(#FD749B, #7F00FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -38.1%, rgba(173, 0, 255, 0.39) 116.67%), #FFFFFF;
}
</style>
