<template>
<div>
    <div class="flex-head">
        <p class="head">Admin Management System Overview</p>
        <div class="flex-head-sort">
            <p class="head" style="margin-right:8px">Accounts</p>
            <p class="head" style="margin-right:8px">|</p>
            <a-dropdown :trigger="['click']" class="head">
                <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                    COINBASE
                    <a-icon type="down" />
                </a>
                <a-menu slot="overlay">
                    <a-menu-item key="0">
                        <a href="http://www.alipay.com/">1st menu item</a>
                    </a-menu-item>
                    <a-menu-item key="1">
                        <a href="http://www.taobao.com/">2nd menu item</a>
                    </a-menu-item>
                    <a-menu-item key="3">
                        3rd menu item
                    </a-menu-item>
                </a-menu>
            </a-dropdown>
        </div>
    </div>
    <div class="flex-head" style="margin-top:24px">
        <p class="topic">Overview</p>
        <img src="~/assets/img/calendar.png" alt="" class="icon">
    </div>
    <div class="grid-card">
        <div class="card">
            <div class="option">
                <img src="~/assets/img/option.png" alt="">
            </div>
            <div class="grid-sub-card">
                <div class="circle-chart">
                    <a-progress type="circle" :stroke-color="{'0%': '#FD749B','100%': '#7F00FE',}" :percent="65" :strokeWidth="10" :width="90" :format="percent => 10000"/>
                    <img src="~/assets/img/circle-wave.png" alt="" style="top: -8px;position: absolute;left: 18px;width: 96px;">
                </div>
                <div style="padding: 20px">
                    <p class="topic-sub-card">Total Number Of Users</p>
                    <div class="text-sub-card">
                        <p class="num-sub-card">22.8%</p>
                        <img src="~/assets/img/green-graph.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="option">
                <img src="~/assets/img/option.png" alt="">
            </div>
            <div class="grid-sub-card">
                <div class="circle-chart">
                    <a-progress type="circle" :stroke-color="{'0%': '#FD749B','100%': '#7F00FE',}" :percent="58" :strokeWidth="10" :width="90" :format="percent => 434" />
                    <img src="~/assets/img/circle-wave.png" alt="" style="top: -8px;position: absolute;left: 18px;width: 96px;">
                </div>
                <div style="padding: 20px;">
                    <p class="topic-sub-card">Total Number Of Agents</p>
                    <div class="text-sub-card">
                        <p class="num-sub-card">11.8%</p>
                        <img src="~/assets/img/green-graph.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div >
                <img src="~/assets/img/option.png" alt="">
            </div>
            <div class="grid-sub-card">
                <div class="circle-chart">
                    <a-progress type="circle" :stroke-color="{'0%': '#FD749B','100%': '#7F00FE',}" :percent="80" :strokeWidth="10" :width="90" :format="percent => 40000" />
                    <img src="~/assets/img/circle-wave.png" alt="" style="top: -8px;position: absolute;left: 18px;width: 96px;">
                </div>
                <div style="padding: 20px;">
                    <p class="topic-sub-card">Total Number Of Transactions</p>
                    <div class="text-sub-card">
                        <p class="num-sub-card">11.8%</p>
                        <img src="~/assets/img/green-graph.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-head {
    display: flex;
    justify-content: space-between;
}

.head {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #858585;
}

.flex-head-sort {
    display: flex;
    justify-content: space-between;
}

.topic {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #858585;
}

.icon {
    display: block;
    margin: auto 0;
    width: 18px;
    height: 19px;
    cursor: pointer;
    transition: 0.3s;
}

.icon:hover {
    transform: scale(1.5);
}

.grid-card {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 28px;
    margin-top: 38px;

}

.card {
    position: relative;
    width: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 2px solid #F0F0F0;
    padding: 24px;
}

.option {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    transform: scale(1.5);
}

.grid-sub-card {
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
}

.circle-chart {
    position: relative;
    display: block;
    margin: auto 0;
}

.topic-sub-card {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #858585;
}

.text-sub-card {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 12px;
}

.num-sub-card {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    /* or 250% */

    color: #1CD1A1;
}


ul.ant-dropdown-menu.ant-dropdown-menu-vertical.ant-dropdown-menu-root.ant-dropdown-menu-light.ant-dropdown-content {
    width: 130px;
    height: 120px;
}

li.ant-dropdown-menu-item {
    height: 40px;
    padding-top: 8px;
    padding-left: 8px;
}

@media screen and (max-width: 1599px) {
    .circle-chart {
        width: 87.68px;
        height: 87.68px;
    }

    .topic-sub-card {
        font-size: 16px;
    }
}
</style>
