<template>
<div class="box">
    <div class="flex-head">
        <p class="topic">Transaction</p>
            <img src="~/assets/img/option.png" alt="" class="option">
    </div>

    <a-row style="margin:57px 0 24px 0">
        <a-col :xl="i.size_xl" :xxl="3" v-for="(i,index) in head" :key="index">
            <p class="table-head">{{i.head_name}}</p>
        </a-col>
    </a-row>
    <div class="table-card" v-for="(j,index) in card" :key="index">
        <a-row>
            <a-col :xl="3" :xxl="3">
                <p class="text">{{j.date}}</p>
            </a-col>
            <a-col :xl="4" :xxl="3">
                <p class="text">{{j.id}}</p>
            </a-col>
            <a-col :xl="2" :xxl="3">
                <img :src="require(`@/assets/img/${j.img}`)">
            </a-col>
            <a-col :xl="3" :xxl="3">
                <p class="text">{{j.name}}</p>
            </a-col>
            <a-col :xl="2" :xxl="3">
                <p class="text">{{j.value}}</p>
            </a-col>
            <a-col :xl="3" :xxl="3">
                <p class="text">{{j.return}}</p>
            </a-col>
            <a-col :xl="5" :xxl="3">
                <div :class="j.class_status">
                    <p :class="j.class_status_text">{{j.status}}</p>
                </div>
            </a-col>
            <a-col :xl="2" :xxl="3">
                <div class="option-2">
                    <img src="~/assets/img/option.png" alt="">
                </div>
            </a-col>
        </a-row>
    </div>
    <button>View More</button>
</div>
</template>

<script>
export default {
    data() {
        return {
            head: [{
                size_xl : 3,
                head_name: 'Date'
            }, {
                size_xl : 4,
                head_name: 'Transaction ID'
            }, {
                size_xl : 2,
                head_name: 'Type'
            }, {
                size_xl : 3,
                head_name: 'Name'
            }, {
                size_xl : 2,
                head_name: 'Value'
            }, {
                size_xl : 3,
                head_name: 'Return'
            }, {
                size_xl : 5,
                head_name: 'Status'
            }, {
                size_xl : 2,
                head_name: 'Action'
            }],

            card: [{
                date: '14/01/2019',
                id: '12345678',
                img: 'bitcoin1.png',
                name: 'Bitcoin',
                value: '$100',
                return: '#18000',
                class_status: 'completed',
                class_status_text: 'completed-text',
                status: 'Completed'
            }, {
                date: '14/01/2019',
                id: '12345678',
                img: 'credit-card.png',
                name: 'Amazon',
                value: '$100',
                return: '#18000',
                class_status: 'failed',
                class_status_text: 'failed-text',
                status: 'Failed'
            }, {
                date: '14/01/2019',
                id: '12345678',
                img: 'bitcoin1.png',
                name: 'Bitcoin',
                value: '$100',
                return: '#18000',
                class_status: 'progress',
                class_status_text: 'progress-text',
                status: 'In Progress'
            }, {
                date: '14/01/2019',
                id: '12345678',
                img: 'credit-card.png',
                name: 'Bitcoin',
                value: '$100',
                return: '#18000',
                class_status: 'completed',
                class_status_text: 'completed-text',
                status: 'Completed'
            }, ]
        }
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin-top: 32px;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    padding: 48px 48px 0 48px;
}

.flex-head {
    display: flex;
    justify-content: space-between;
}

.topic {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #858585;

}

.option {
    width: 16px;
    height: 3.73px;
    display: block;
    margin: auto 0;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover{
    transform: scale(1.5);
}

.option-2 {
    width: 16px;
    height: 3.73px;
    display: block;
    margin: 8px auto;
    cursor: pointer;
    transition: 0.3s;
}

.option-2:hover{
    transform: scale(1.5);
}

.table-head {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #858585;

}

.table-card {
    margin-top: 8px;
    padding: 36px 0;
    width: 100%;
    height: 98px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 100px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #858585;

}

img {
    display: block;
    margin: auto;
}

.completed {
    width: 130px;
    height: 36px;
    background: rgba(93, 248, 136, 0.1);
    border-radius: 215px;
    margin: auto;
    position: relative;
    bottom: 8px;
}

.completed-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    text-align: center;
    padding-top: 6px;
    color: #5DF888;
}

.failed {
    width: 130px;
    height: 36px;
    background: rgb(255, 236, 236);
    border-radius: 215px;
    margin: auto;
    position: relative;
    bottom: 8px;
}

.failed-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    text-align: center;
    padding-top: 6px;
    color: #FF4949;
}

.progress {
    width: 130px;
    height: 36px;
    background: #eeeeee;
    border-radius: 215px;
    margin: auto;
    position: relative;
    bottom: 8px;
}

.progress-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    text-align: center;
    padding-top: 6px;
    color: #999999;
}

button {
    display: block;
    margin: 30px auto;
    width: 134px;
    height: 42px;
    background: linear-gradient(178.13deg, #FD749B -9.07%, #7F00FE 197.71%);
    border-radius: 100px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

}

button:hover {
    background: linear-gradient(179.34deg, #AA1E46 -13.06%, #DE3F76 -13.04%, #46008B 199.86%);
}
</style>
