<template>
<div class="box">
    <div class="flex-head">
        <p class="topic">Statistics</p>
        <img src="~/assets/img/option.png" alt="" class="option">
    </div>
    <p class="topic2">My Own Report</p>
    <div style="margin-top:40px">
        <bar-chart :data="barChartData" :options="barChartOptions" :height="200" />
    </div>

</div>
</template>

<script>
import BarChart from '~/components/BarChart'
const chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
};

export default {
    data() {
        return {
            barChartData: {
                labels: ['Amazon', 'Google', 'itune', 'Payoneer', 'Bitcoin', 'Ethereum', 'Tecno', 'Paypal', 'Aliexpress', 'Konga', 'Jumia'],
                datasets: [{
                    label: 'Avarage score ',
                    // backgroundColor: ["red", "orange", "yellow"],
                    backgroundColor: [chartColors.red, chartColors.green, chartColors.blue, chartColors.orange, chartColors.yellow, chartColors.grey, chartColors.purple, chartColors.blue, chartColors.orange, chartColors.grey, chartColors.red],
                    data: [40, 48, 20, 35, 41, 36, 25, 40, 48, 49, 47]
                }]
            },
            barChartOptions: {
                responsive: true,
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    // text: 'Monthly Income'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }],
                    xAxes: [{
                        // Change here
                        barPercentage: 0.4
                    }]
                }
            }
        }
    },
    components: {
        BarChart
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin-top: 32px;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    padding: 48px;
}

.flex-head {
    display: flex;
    justify-content: space-between;
}

.topic {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #858585;

}

.option {
    width: 16px;
    height: 3.73px;
    display: block;
    margin: auto 0;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    transform: scale(1.5);
}

.topic2 {
    margin-top: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */

    color: #858585;
}
</style>
