<template>
<div>
    <div class="flex-head">
        <p class="head">Admin Management System Overview</p>
        <div class="flex-head-sort">
            <p class="head" style="margin-right:8px">Accounts</p>
            <p class="head" style="margin-right:8px">|</p>
            <a-dropdown :trigger="['click']" class="head">
                <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                    COINBASE
                    <a-icon type="down" />
                </a>
                <a-menu slot="overlay">
                    <a-menu-item key="0">
                        <a href="http://www.alipay.com/">1st menu item</a>
                    </a-menu-item>
                    <a-menu-item key="1">
                        <a href="http://www.taobao.com/">2nd menu item</a>
                    </a-menu-item>
                    <a-menu-item key="3">
                        3rd menu item
                    </a-menu-item>
                </a-menu>
            </a-dropdown>
        </div>
    </div>
    <div class="flex-head" style="margin-top:24px">
        <p class="topic">Overview</p>
        <img src="~/assets/img/calendar.png" alt="" class="icon">
    </div>
    <a-row :gutter="[28,28]" style="margin-top:32px">
        <a-col :xl="8" :xxl="8" v-for="(i,index) in circles" :key="index">
            <div class="card">
                <div >
                    <img src="~/assets/img/option.png" alt="" class="option">
                </div>
                <a-row style="padding:14px 0">
                    <a-col :xl="10" :xxl="8">
                        <div class="circle-chart">
                            <a-progress type="circle" :stroke-color="{'0%': '#FD749B','100%': '#7F00FE'}" :percent="i.percent" :stroke-width="10" :width="90" :format="percent => i.percent_format" />
                            <img src="~/assets/img/circle-wave.png" alt="" style="top: -8px;position: absolute;left: 18px;width: 96px;">
                        </div>
                    </a-col>
                    <a-col :xl="14" :xxl="16" style="padding-top:16px">
                        <p class="topic-sub-card">{{i.topic}}</p>
                        <div style="margin-top:16px">
                            <a-row>
                                <a-col :xl="7" :xxl="5">
                                    <p class="num-sub-card">{{i.num}}</p>
                                </a-col>
                                <a-col :xl="17" :xxl="19">
                                    <img src="~/assets/img/green-graph.png" alt="">
                                </a-col>
                            </a-row>

                        </div>
                    </a-col>
                </a-row>
            </div>
        </a-col>
    </a-row>
</div>
</template>

<script>
export default {
    data() {
        return {
            circles: [{
                percent: 65,
                percent_format: 10000,
                topic: 'Total Number Of Users',
                num: '22.8%',
            }, {
                percent: 58,
                percent_format: 434,
                topic: 'Total Number Of Agents',
                num: '11.8%',
            }, {
                percent: 80,
                percent_format: 40000,
                topic: 'Total Number Of Transactions',
                num: '11.8%',
            }, ]
        }
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-head {
    display: flex;
    justify-content: space-between;
}

.head {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #858585;
}

.flex-head-sort {
    display: flex;
    justify-content: space-evenly;
}

.topic {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #858585;
}

.icon {
    display: block;
    margin: auto 0;
    width: 18px;
    height: 19px;
    cursor: pointer;
    transition: 0.3s;
}

.icon:hover {
    transform: scale(1.5);
}

.card {
    position: relative;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    padding: 14px;
}

.option {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover{
    transform: scale(1.5);
}

.topic-sub-card {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: #858585;
}

.num-sub-card {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    /* or 250% */

    color: #1CD1A1;

}

ul.ant-dropdown-menu.ant-dropdown-menu-vertical.ant-dropdown-menu-root.ant-dropdown-menu-light.ant-dropdown-content {
    width: 130px;
    height: 120px;
}

li.ant-dropdown-menu-item {
    height: 40px;
    padding-top: 8px;
    padding-left: 8px;
}
</style>
