<template>
<div class="box">
    
    <div class="flex-head">
        <p class="topic">Users</p>
        <img src="~/assets/img/option.png" alt="" class="option">
    </div>
    <a-row style="padding: 0 24px;margin:57px 0 24px 0">
        <a-col :xl="5" :xxl="6">
            <p class="table-head">Account Status</p>
        </a-col>
        <a-col :xl="8" :xxl="6">
            <p class="table-head">User Name</p>
        </a-col>
        <a-col :xl="9" :xxl="6">
            <p class="table-head">Email</p>
        </a-col>
        <a-col :xl="2" :xxl="6">
            <p class="table-head">Action</p>
        </a-col>
    </a-row>
    <div class="card-table" v-for="(i,index) in card" :key="index">
        <a-row >
            <a-col :xl="5" :xxl="6">
                <div :class="i.class_card">
                    <p :class="i.class_text">{{i.status}}</p>
                    <span :class="i.class_dot"></span>
                </div>
            </a-col>
            <a-col :xl="8" :xxl="6">
                <a-row>
                    <a-col :xl="9" :xxl="9">
                        <div style="padding:4px">
                            <img :src="require(`@/assets/img/${i.img}`)" class="profile">
                        </div>
                    </a-col>
                    <a-col :xl="15" :xxl="15" style="padding:8px">
                        <p class="text">{{i.name}}</p>
                    </a-col>
                </a-row>
            </a-col>
            <a-col :xl="9" :xxl="6">
                <div style="padding:8px">
                    <p class="email">{{i.email}}</p>
                </div>
            </a-col>
            <a-col :xl="2" :xxl="6">
                <div style="padding:18px">
                    <img src="~/assets/img/option.png" alt="" class="option-2">
                </div>
            </a-col>
        </a-row>
    </div>
    <button>View More</button>
</div>
</template>

<script>
export default {
    data(){
        return{
            card : [{
                class_card : 'status-active',
                class_dot : 'status-active-dot',
                class_text : 'status-active-text',
                status : 'Active',
                img : 'profile1.png',
                name: 'Ramon Ridwan',
                email : 'Ramonridwan@protonmail.com'
            },{
                class_card : 'status-down',
                class_dot : 'status-down-dot',
                class_text : 'status-down-text',
                status : 'Down',
                img : 'profile2.png',
                name: 'Ramon Ridwan',
                email : 'Ramonridwan@protonmail.com'
            },{
                class_card : 'status-active',
                class_dot : 'status-active-dot',
                class_text : 'status-active-text',
                status : 'Active',
                img : 'profile3.png',
                name: 'Ramon Ridwan',
                email : 'Ramonridwan@protonmail.com'
            },{
                class_card : 'status-pending',
                class_dot : '',
                class_text : 'status-pending-text',
                status : 'Pending',
                img : 'profile4.png',
                name: 'Ramon Ridwan',
                email : 'Ramonridwan@protonmail.com'
            },{
                class_card : 'status-active',
                class_dot : 'status-active-dot',
                class_text : 'status-active-text',
                status : 'Active',
                img : 'profile5.png',
                name: 'Ramon Ridwan',
                email : 'Ramonridwan@protonmail.com'
            },]
        }
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin-top: 32px;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    padding: 48px 48px 0 48px;
}

.flex-head {
    display: flex;
    justify-content: space-between;
}

.topic {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #858585;
}

.option {
    width: 16px;
    height: 3.73px;
    display: block;
    margin: auto 0;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    transform: scale(1.5);
}

.option-2 {
    width: 16px;
    height: 3.73px;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
}

.option-2:hover {
    transform: scale(1.5);
}

.card-table {
    margin-top: 8px;
    padding: 28px 24px;
    width: 100%;
    height: 98px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 100px;
}

.table-head {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 163.42%;
    /* identical to box height, or 26px */
    text-align: center;
    color: #858585;
}

.status-active {
    position: relative;
    width: 130px;
    height: 36px;
    background: rgba(93, 248, 136, 0.1);
    border-radius: 215px;
    margin: auto;
}

.status-active-dot {
    position: absolute;
    top: 12px;
    left: 18px;
    height: 10px;
    width: 10px;
    background-color: #5DF888;
    border-radius: 50%;
    display: inline-block;
}

.status-active-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    padding: 6px 45px;
    color: #5DF888;
}

.status-down {
    position: relative;
    width: 130px;
    height: 36px;
    background: rgb(255, 236, 236);
    border-radius: 215px;
    margin: auto;

}

.status-down-dot {
    position: absolute;
    top: 12px;
    left: 18px;
    height: 10px;
    width: 10px;
    background-color: #FF4949;
    border-radius: 50%;
    display: inline-block;
}

.status-down-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    padding: 6px 45px;
    color: #FF4949;
}

.status-pending {
    position: relative;
    width: 130px;
    height: 36px;
    background: #eeeeee;
    border-radius: 215px;
    margin: auto;

}

.status-pending-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    text-align: center;
    padding: 6px;
    color: #999999;
}

.grid-profile {
    display: grid;
    grid-template-columns: 16% auto;
}

.profile {
    display: block;
    margin: auto 0 auto auto;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163.42%;
    /* identical to box height, or 20px */

    color: #858585;

}

.email {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163.42%;
    /* identical to box height, or 20px */
    text-align: center;
    color: #858585;

}

button {
    display: block;
    margin: 30px auto;
    width: 134px;
    height: 42px;
    background: linear-gradient(178.13deg, #FD749B -9.07%, #7F00FE 197.71%);
    border-radius: 100px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

}

button:hover {
    background: linear-gradient(179.34deg, #AA1E46 -13.06%, #DE3F76 -13.04%, #46008B 199.86%);
}
</style>
