<template>
<div class="card">
    <a class="btn"></a>
    <div class="flex-head">
        <p class="topic">Conversion Rate to Naira</p>
        <img src="~/assets/img/option.png" alt="" class="option">
    </div>
    <a-row>
        <a-col :xl="8" :xxl="8" v-for="(i,index) in conversion" :key="index">
            <div class="box">
                <p class="grid-box-topic">{{i.topic}}</p>
                <div style="margin-top:12px">
                    <a-row style="margin-top:12px">
                        <a-col :xl="18" :xxl="16">
                            <p class="grid-box-text">{{i.data1}}</p>
                        </a-col>
                        <a-col :xl="6" :xxl="8">
                            <p class="grid-box-text">{{i.data_num}}</p>
                        </a-col>
                    </a-row>
                    <a-row style="margin-top:12px">
                        <a-col :xl="18" :xxl="16">
                            <p class="grid-box-text">{{i.data2}}</p>
                        </a-col>
                        <a-col :xl="6" :xxl="8">
                            <p class="grid-box-text">{{i.data_num}}</p>
                        </a-col>
                    </a-row>
                    <a-row style="margin-top:12px">
                        <a-col :xl="18" :xxl="16">
                            <p class="grid-box-text">{{i.data3}}</p>
                        </a-col>
                        <a-col :xl="6" :xxl="8">
                            <p class="grid-box-text">{{i.data_num}}</p>
                        </a-col>
                    </a-row>
                    <a-row style="margin-top:12px">
                        <a-col :xl="18" :xxl="16">
                            <p class="grid-box-text">{{i.data2}}</p>
                        </a-col>
                        <a-col :xl="6" :xxl="8">
                            <p class="grid-box-text">{{i.data_num}}</p>
                        </a-col>
                    </a-row>
                </div>
            </div>
        </a-col>
    </a-row>
</div>
</template>

<script>
export default {
    data() {
        return {
            conversion: [{
                topic: 'iTune Card',
                data1: 'USA Physical',
                data2: 'USA E-Code card',
                data3: 'UK Physical Card',
                data_num: 'N400.00',
            }, {
                topic: 'Amazon Card',
                data1: 'USA Physical',
                data2: 'USA E-Code card',
                data3: 'UK Physical Card',
                data_num: 'N400.00',
            }, {
                topic: 'Bitcoin',
                data1: 'USA Physical',
                data2: 'USA E-Code card',
                data3: 'UK Physical Card',
                data_num: 'N400.00',
            }, ]
        }
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    position: absolute;
    top: 177.5px;
    right: -22px;
    width: 44px;
    height: 44px;
    background: url('~@/assets/img/button.png');
    transition: 0.3s;
}

.btn:hover {
    background: url('~@/assets/img/button-hover.png');
}

.flex-head {
    display: flex;
    justify-content: space-between;
}

.option {
    width: 16px;
    height: 3.73px;
    display: block;
    margin: auto 0;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    transform: scale(1.5);
}

.card {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 36px 36px 48px 36px;
    background-color: #ffffff;
    margin-top: 32px;
    border: 2px solid #F0F0F0;

}

.topic {
    margin-left: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #858585;
}

.box {
    margin-top: 40px;
    padding: 0 12px;
    border-left: 2px solid #858585;
}

.grid-box-topic {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    background: -webkit-linear-gradient(#FD749B, #7F00FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid-text {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.42%;
    /* or 20px */

    color: #858585;
}
</style>
