<template>
<div class="box">
    <div class="flex-head">
        <p class="topic">Bitcoin & Ethereum</p>
        <div class="option">
              <img src="~/assets/img/option.png" alt="" >  
            </div>
    </div>
    <a-row :gutter="[24,24]" style="margin-top:48px">
        <a-col :xl="8" :xxl="8">
            <div class="card1">
                <div>
                    <img src="~/assets/img/bitcoin-logo.png" alt="">
                    <p class="text">Bitcoin</p>
                </div>
            </div>
        </a-col>
        <a-col :xl="8" :xxl="8">
            <div class="card2">
                <div>
                    <img src="~/assets/img/ethereum.png" alt="">
                    <p class="text">Ethereum</p>
                </div>

            </div>
        </a-col>
        <a-col :xl="8" :xxl="8">
            <div class="card3">
                <p class="product-topic">Product</p>
                <a-cascader :options="options" style="width:100%;margin-top:24px">
                    <span tabindex="0" class="ant-cascader-picker" data-v-a1ccd506="">
                        <input placeholder="Bitcoin" type="text" readonly="true" class="ant-input ant-cascader-input ">
                        <span class="ant-cascader-picker-label"></span><i aria-label="图标: down" class="anticon anticon-down ant-cascader-picker-arrow">
                            <svg viewBox="64 64 896 896" data-icon="down" width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false" class="">
                                <path d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path>
                            </svg></i></span>
                </a-cascader>
                <a-input placeholder="1-20" style="margin-top:8px" />
                <button>Add Coin</button>
            </div>
        </a-col>
    </a-row>
</div>
</template>

<script>
export default {
    data() {
        return {
            options: [{
                value: 'Bitcoin',
                label: 'Bitcoin',
            }, {
                value: 'Ethereum',
                label: 'Ethereum',
            }]
        }

    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin-top: 32px;
    width: 100%;
    background-color: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    padding: 48px;
}

.flex-head {
    display: flex;
    justify-content: space-between;
}

.topic {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #858585;

}

.option {
    width: 16px;
    height: 3.73px;
    display: block;
    margin: auto 0;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover{
    transform: scale(1.5);
}

.card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 232px;
    background: linear-gradient(144.12deg, #FC58B3 11.61%, #FEAE68 100%);
    border-radius: 10px;
    transition: 0.3s;
}

.card1:hover{
    transform: scale(1.04);
}

.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 232px;
    background: linear-gradient(145.64deg, #00E0FF 9.67%, #0047FF 107.49%);
    border-radius: 10px;
    transition: 0.3s;
}

.card2:hover{
    transform: scale(1.04);
}

.card3 {
    padding: 32px 16px;
}

.text {
    margin-top: 56px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}

.product-topic {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    letter-spacing: 0.4px;

    color: #858585;

}

img {
    display: block;
    margin: auto;
}

input {
    width: 100%;
    height: 42px;
    border: 1px solid #F0F0F0;
    border-radius: 100px;
    padding: 13px 24px;
}

.ant-cascader-picker-arrow {
    position: absolute;
    top: 50%;
    right: 18px;
    z-index: 1;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
    line-height: 12px;
    transition: transform 0.2s;
}

button {
    width: 104px;
    height: 40px;
    background: linear-gradient(179.3deg, #FD749B -13.56%, #7F00FE 158.3%);
    border-radius: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
    border: none;
    display: block;
    margin: 24px auto 0 auto;
    transition: 0.3s;
}

button:hover {
    background: linear-gradient(179.3deg, #AA1E46 -13.56%, #46008B 158.3%);
}
</style>
