<template>
<div class="box">
    <div class="flex-head">
        <p class="topic">Payments</p>
        <img src="~/assets/img/option.png" alt="" class="option">
    </div>
    <a-row style="padding: 0 24px;margin:57px 0 24px 0">
        <a-col :xl="5" :xxl="6">
            <p class="table-head">Payment Status</p>
        </a-col>
        <a-col :xl="8" :xxl="6">
            <p class="table-head">User/Agent</p>
        </a-col>
        <a-col :xl="9" :xxl="6">
            <p class="table-head">Email</p>
        </a-col>
        <a-col :xl="2" :xxl="6">
            <p class="table-head">Action</p>
        </a-col>
    </a-row>
    <div class="table-card" v-for="(i,index) in card" :key="index">
        <a-row>
            <a-col :xl="5" :xxl="6">
                <div :class="i.class_status">
                    <p :class="i.class_status_text">{{i.status}}</p>
                </div>
            </a-col>
            <a-col :xl="8" :xxl="6" style="padding-left:5%">
                <a-col :xl="8" :xxl="8">
                    <img :src="require(`@/assets/img/${i.img}`)">
                </a-col>
                <a-col :xl="16" :xxl="16">
                    <p class="text">{{i.name}}</p>
                    <p class="sub-name">{{i.subname}}</p>
                </a-col>
            </a-col>
            <a-col :xl="9" :xxl="6">
                <p class="email">{{i.email}}</p>
            </a-col>
            <a-col :xl="2" :xxl="6">
                <img src="~/assets/img/option.png" alt="" class="option-2">
            </a-col>
        </a-row>
    </div>
    <button>View More</button>
</div>
</template>

<script>
export default {
    data() {
        return {
            card: [{
                class_status: 'process',
                class_status_text: 'process-text',
                status: 'Processing',
                img: 'profile6.png',
                name: 'Quadri Lawal',
                subname: 'Agents',
                email: 'Quaderilawal@protonmail.com'
            }, {
                class_status: 'decline',
                class_status_text: 'decline-text',
                status: 'Decline',
                img: 'profile7.png',
                name: 'Tusweet iyanah',
                subname: 'User',
                email: 'Tusweetiyanah@protonmail.com'
            }, {
                class_status: 'pending',
                class_status_text: 'pending-text',
                status: 'Pending',
                img: 'profile3.png',
                name: 'Ramon Ridwan',
                subname: 'User',
                email: 'Ramonridwan@protonmail.com'
            }, {
                class_status: 'decline',
                class_status_text: 'decline-text',
                status: 'Decline',
                img: 'profile9.png',
                name: 'Lai Muhammed',
                subname: 'Agents',
                email: 'Laimuhammed@protonmail.com'
            }]
        }
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin-top: 32px;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    padding: 48px 48px 0 48px;
}

.flex-head {
    display: flex;
    justify-content: space-between;
}

.topic {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #858585;

}

.option {
    width: 16px;
    height: 3.73px;
    display: block;
    margin: auto 0;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover{
    transform: scale(1.5);
}

.option-2 {
    width: 16px;
    height: 3.73px;
    display: block;
    margin: 16px auto;
    cursor: pointer;
    transition: 0.3s;
}

.option-2:hover{
    transform: scale(1.5);
}

.table-head {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;

    color: #858585;

}

.table-card {
    margin-top: 8px;
    padding: 28px 24px;
    width: 100%;
    height: 98px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 100px;
}

.process {
    width: 130px;
    height: 36px;
    background: rgba(93, 248, 136, 0.1);
    border-radius: 215px;
    margin: auto;
}

.process-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    text-align: center;
    padding-top: 6px;
    color: #5DF888;
}

.decline{
    width: 130px;
    height: 36px;
    background: rgb(255, 236, 236);
    border-radius: 215px;
    margin: auto;
}

.decline-text{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    text-align: center;
    padding-top: 6px;
    color: #FF4949;
}

.pending {
    width: 130px;
    height: 36px;
    background: #eeeeee;
    border-radius: 215px;
    margin: auto;
}

.pending-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    text-align: center;
    padding-top: 6px;
    color: #999999;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* identical to box height, or 20px */
    color: #858585;

}

.sub-name {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    /* identical to box height, or 10px */
    color: #858585;
}

.email {
    padding-top: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* identical to box height, or 20px */
    text-align: center;
    color: #858585;
}

img {
    width: 38px;
    height: 38px;
    display: block;
    margin: auto;
}

button {
    display: block;
    margin: 30px auto;
    width: 134px;
    height: 42px;
    background: linear-gradient(178.13deg, #FD749B -9.07%, #7F00FE 197.71%);
    border-radius: 100px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

}

button:hover {
     background: linear-gradient(179.34deg, #AA1E46 -13.06%, #DE3F76 -13.04%, #46008B 199.86%);
}
</style>
