<template>
<div class="box">
    <div class="flex-head">
        <p class="topic">Cards</p>
        <img src="~/assets/img/option.png" alt="" class="option">
    </div>
    <a-row :gutter="[16,16]" style="margin-top:40px">
        <a-col :xl="8" :xxl="8" v-for="(i,index) in card" :key="index">
            <div :class="i.class_card">
                <div>
                    <img :src="require(`@/assets/img/${i.img}`)">
                    <p :class="i.class_topic">{{i.topic}}</p>
                </div>
            </div>
        </a-col>
        <a-col :xl="8" :xxl="8">
            <div class="card">
                <img src="~/assets/img/plus.png" alt="" class="plus">
            </div>

        </a-col>
    </a-row>

    <button>View More</button>
</div>
</template>

<script>
export default {
    data() {
        return {
            card: [{
                class_card: 'card-amazon',
                img: 'amazon.png',
                class_topic: 'topic-card',
                topic: 'Amazon Card'
            }, {
                class_card: 'card-itune',
                img: 'itune.png',
                class_topic: 'topic-card',
                topic: 'itune Card'
            }, {
                class_card: 'card',
                img: 'play.png',
                class_topic: 'topic-card-blank',
                topic: 'Google play Card'
            }, {
                class_card: 'card-steam',
                img: 'steam.png',
                class_topic: 'topic-card',
                topic: 'Amazon Card'
            }, {
                class_card: 'card',
                img: 'gift.png',
                class_topic: 'topic-card-blank',
                topic: 'Gift Card'
            }]
        }
    }
}
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin-top: 32px;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    padding: 48px 48px 0 48px;
}

.flex-head {
    display: flex;
    justify-content: space-between;
}

.option {
    width: 16px;
    height: 3.73px;
    display: block;
    margin: auto 0;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    transform: scale(1.5);
}

.topic {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #858585;
}

.grid-card {
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-gap: 16px;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border: 2px solid #F0F0F0;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.04);
}

.card-amazon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background: linear-gradient(161.12deg, #00E0FF 9.67%, #0047FF 107.49%);
    transition: 0.3s;
}

.card-amazon:hover{
    transform: scale(1.04);
}

.card-itune {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: linear-gradient(158.93deg, #FF5E50 17.14%, #FE5C6C 33.69%, #E3658A 42.16%, #B87EB0 50.17%, #916CFF 58.79%, rgba(112, 188, 251, 0.917647) 67.83%, #21C7FE 83.6%);
    border-radius: 10px;
    transition: 0.3s;
}

.card-itune:hover{
    transform: scale(1.04);
}

.card-steam {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: linear-gradient(160.12deg, #FC58B3 11.61%, #FEAE68 100%);
    border-radius: 10px;
    transition: 0.3s;
}

.card-steam:hover{
    transform: scale(1.04);
}

.topic-card {
    margin-top: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

}

.topic-card-blank {
    margin-top: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

    /* identical to box height */
    text-align: center;

    color: #858585;
}

img {
    display: block;
    margin: auto;
}

button {
    display: block;
    margin: 30px auto;
    width: 136px;
    height: 40px;
    background: linear-gradient(179.34deg, #FD749B -13.06%, #7F00FE 199.86%);
    border-radius: 100px;
    border: none;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(179.34deg, #AA1E46 -13.06%, #DE3F76 -13.04%, #46008B 199.86%);
}

.plus {
    cursor: pointer;
    transition: 0.3s;
}

.plus:hover {
    transform: scale(1.2);
}
</style>
